<section class="moves-list-container">
  <!-- <div class="btns-container">
    <button class="btn btn-purple" (click)="setSortCriteria('date')">
      Sort by moves date
    </button>
    <button class="btn btn-purple" (click)="setSortCriteria('amount')">
      Sort by moves amount
    </button>
  </div> -->
  <ng-container *ngIf="moves!.length > 0; else noMoves">
    <ul class="moves-list">
      <h2>{{ title }}</h2>
      <li *ngFor="let move of sortedMoves" class="move-item">
        <a [routerLink]="['/contact', move.to?._id]">
          <ng-container *ngIf="!isDetailsCmp">
            <h3>{{ "To: " + move.to?.name }}</h3>
          </ng-container>
          <h3>BTC: {{ move.amount }}</h3>
          <h3>At: {{ getFormattedDate(move.at) }}</h3>
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-template #noMoves>
    <div>No moves yet</div>
  </ng-template>
</section>
