@import "../../app.component.scss";
:host {
  min-height: 100%;

  .statistics-page {
    display: flex;
    flex-direction: column;
    background-color: $bgc1;
    color: $fontclr2;
    margin-inline: $outer-padding;
    .btns-container {
      margin-block-start: 0.5em;
      margin-inline-end: 0.5em;
      gap: 0.5em;
      align-self: flex-end;
    }
  }
}
