<main class="home-page main-layout" *ngIf="loggedInUser; else callToAction">
  <h1>Hello {{ loggedInUser.name }}</h1>
  <h3>Coins: {{ loggedInUser.coins }}</h3>
  <h3>BTC: {{ rate$ | async }}</h3>

  <moves-list
    *ngIf="loggedInUser.moves.length"
    [isDetailsCmp]="false"
    [moves]="loggedInUser.moves.slice(0, 3)"
    [title]="'Recent moves'"
  ></moves-list>
</main>
<ng-template #callToAction>
  <main class="home-page main-layout call-to-action">
    <h1>
      What are you waiting for? <br />
      <a routerLink="signup">Sign up and start investing</a>
    </h1>
  </main>
</ng-template>
