// BGCOLORS
$bgc1: rgb(48 48 48);
$bgc2: rgb(131 0 255);
$bgc3: rgb(202 0 255);
$bgc4: rgb(86, 50, 117);
$bgc5: rgb(96, 174, 248);
$bgc6: rgb(231, 44, 44);
// FONT COLORS
$fontclr1: rgb(209 212 219);
$fontclr2: rgb(238 232 244);
$fontclr3: rgb(131 0 255);
$fontclr4: rgb(37, 35, 35);

$gradient: linear-gradient(to right, $bgc1, $bgc4, $bgc4, $bgc4, $bgc1);

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

$header-height: em(44px);
$footer-height: 44px;

$outer-padding: (20px);
