<div>
  <h1>About Mister-Bitcoin</h1>
  <p>Welcome to Mister-Bitcoin, your go-to app for all things Bitcoin!</p>
  <p>
    Our app provides up-to-date information on the current price of Bitcoin, as
    well as historical price data, market trends, and more. Whether you're a
    seasoned Bitcoin investor or just getting started in the world of
    cryptocurrency, Mister-Bitcoin has everything you need to stay informed and
    make smart investment decisions.
  </p>
  <p>
    Our team of experts is dedicated to bringing you the most accurate and
    reliable information about Bitcoin and other cryptocurrencies. We're
    constantly updating our app with the latest data and trends, so you can
    always stay ahead of the curve.
  </p>
  <p class="call-to-action">
    So what are you waiting for?
    <span>
      <a routerLink="/signup"> Signup for Mister-Bitcoin </a>
    </span>
    today and start exploring the exciting world of cryptocurrency!
  </p>
</div>

<coin></coin>
