<header class="main-header flex space-between">
  <a routerLink="/">
    <div class="logo">
      <img src="../../../assets/imgs/mister-bitcoin-logo.png" alt="Logo" />
    </div>
  </a>
  <nav [ngClass]="{ open: isNavOpen }" class="main-nav">
    <ul class="flex space-between">
      <li>
        <a routerLink="/">
          <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li>
        <a routerLink="/contact">
          <i class="fa-regular fa-address-book"></i>
        </a>
      </li>
      <li>
        <a routerLink="/statistics">
          <i class="fa-solid fa-chart-simple"></i>
        </a>
      </li>
      <li>
        <a routerLink="/signup">
          <i class="fa-solid fa-right-to-bracket"></i>
        </a>
      </li>
    </ul>
  </nav>
  <i class="fa-solid fa-bars mobile-menu-btn" (click)="toggleMenu()"></i>
</header>
<div
  [ngClass]="{ open: isNavOpen }"
  (click)="toggleMenu()"
  class="overlay"
></div>
