@import "../../app-root/app.component.scss";
.main-header {
  grid-row: 1;
  min-height: $header-height;
  padding-block: 4em;
  background: linear-gradient($bgc2, $bgc3, $bgc4);
  align-items: center;
  padding-inline: ($outer-padding);
  .logo {
    margin-inline-start: 1em;
    width: em(300px);
    min-height: 3em;
    img {
      height: em(100px);
      width: em(250px);
      border-radius: 1em;
    }
  }
  .mobile-menu-btn {
    display: none;
  }
  .main-nav {
    width: 30%;
    margin-inline-end: em(20px);
    transition: 0.6s;
    padding: 1em;
    ul {
      align-items: center;
      gap: em(10px);
      li,
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        i {
          font-size: 2em;
        }
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    max-height: 20%;
    .main-nav {
      position: fixed;
      top: 0;
      right: -10%;
      transform: translate(100%);
      min-height: 10em;
      &.open {
        transform: translate(15%);
        background-color: $bgc3;
        z-index: 1;
      }
      ul {
        margin-top: em(10px);
        flex-direction: column;
        width: 100%;
        gap: em(20px);
        padding-inline-end: 2em;
        justify-content: space-between;
        li {
          margin-inline-end: 1em;
        }
      }
    }
    .mobile-menu-btn {
      display: block;
      margin-inline-end: 0.5em;
      font-size: 2rem;
    }
  }

  :host {
    .overlay {
      top: 0;
      left: 0;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    .main-nav {
      margin-inline-end: em(35px);
      & li {
        margin-inline-end: 2em;
      }
    }
  }
}
