<section *ngIf="contact$ | async as contact" class="contact-details">
  <h3>{{ loggedInUser?.coins }}</h3>
  <nav class="sub-nav">
    <a
      routerLink="/contact/{{ contact._id }}/edit"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn btn-purple"
      >Edit</a
    >
    <a routerLink="/contact" class="btn btn-purple">back</a>
  </nav>
  <img class="user-img" src="assets/imgs/defaultUserImg.jpg" />
  <h2 class="contact-name">{{ contact.name }}</h2>
  <h3 class="contact-phone">{{ contact.phone }}</h3>
  <h3 class="contact-email">{{ contact.email }}</h3>
  <transfer-funds (transferFunds)="onTransferFunds($event)"> </transfer-funds>
  <moves-list
    [isDetailsCmp]="true"
    [moves]="getMovesForContact()"
    [title]="'Your moves to ' + contact.name"
  ></moves-list>
</section>
